<div class="colors">
    <div *ngFor="let color of getColors()" class="outer-color" (click)="onClick(color)" [class.clicked]="currentColor == color">
        <div class="inner-color" [style.background-color]="color" id="{{color}}">
        </div>
    </div>
    <button (click)="clearField()" title="Clear" class="btn-clear">Clear</button>
</div>
<div class="field" (mousedown)="setActive(true)" (mouseup)="setActive(false)">
    <table class="field-table">
        <tr *ngFor="let r of getArrayBySize(fieldSize)">
            <td *ngFor="let c of getArrayBySize(fieldSize)" (mouseover)="setColorByColumnRowIfActive(c, r)" (click)="setColorByColumnRow(c, r)" class="field-table-cell-outer">
                <div [style.background-color]="colorTemplate[r * fieldSize + c]" class="field-table-cell" draggable="false"></div>
            </td>
        </tr>
    </table>
    <input [(ngModel)]="codeTemplate" placeholder="Code" (change)="parseCode()">
</div>